@use "sass:color";
@use "@core/colors";
@use "@utils/functions/size" as *;
@use "@core/scale" as scale;

.colors {
	margin-bottom: scale.scale(scale.$scale-24);

	.grid {
		align-items: center;
		display: inline-grid;
		grid-template-columns: repeat(11, auto);
		gap: scale.scale(scale.$scale-8);
		margin: scale.scale(scale.$scale-24);
	}

	.box {
		width: scale.scale(scale.$scale-48);
		height: scale.scale(scale.$scale-48);
		border-radius: scale.scale(scale.$scale-8);
		display: flex;
		justify-content: center;
		align-items: center;

		$accent: colors.$accent;
		$hsl-accent: color.to-space($accent, hsl);
		$oklch-accent: color.to-space($accent, oklch);

		$shades: (50: 50%, 100: 40%, 200: 30%, 300: 20%, 400: 10%, 500: 0%, 600: -10%, 700: -20%, 800: -30%, 900: -40%, 950: -50%);
		@each $shade, $value in $shades {
			&_oklch-accent-#{$shade} {
				$color: color.adjust($oklch-accent, $lightness: $value);
				background-color: $color;
				color: colors.content($color);
			}
			&_hsl-accent-#{$shade} {
				$color: color.adjust($hsl-accent, $lightness: $value);
				background-color: $color;
				color: colors.content($color);
			}
		}

		&_accent-50 {
			background-color: colors.light-50($accent);
			color: colors.content(colors.light-50($accent));
		}
		&_accent-100 {
			background-color: colors.light-40($accent);
			color: colors.content(colors.light-40($accent));
		}
		&_accent-200 {
			background-color: colors.light-30($accent);
			color: colors.content(colors.light-30($accent));
		}
		&_accent-300 {
			background-color: colors.light-20($accent);
			color: colors.content(colors.light-20($accent));
		}
		&_accent-400 {
			background-color: colors.light-10($accent);
			color: colors.content(colors.light-10($accent));
		}
		&_accent-500 {
			background-color: colors.base($accent);
			color: colors.content(colors.base($accent));
		}
		&_accent-600 {
			background-color: colors.dark-10($accent);
			color: colors.content(colors.dark-10($accent));
		}
		&_accent-700 {
			background-color: colors.dark-20($accent);
			color: colors.content(colors.dark-20($accent));
		}
		&_accent-800 {
			background-color: colors.dark-30($accent);
			color: colors.content(colors.dark-30($accent));
		}
		&_accent-900 {
			background-color: colors.dark-40($accent);
			color: colors.content(colors.dark-40($accent));
		}
		&_accent-950 {
			background-color: colors.dark-50($accent);
			color: colors.content(colors.dark-50($accent));
		}
	}
}

.color-modules {
	display: flex;
	flex-direction: column;
	gap: scale.scale(scale.$scale-32);

	&__module {
		display: flex;
		flex-direction: column;
		gap: scale.scale(scale.$scale-16);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: scale.scale(scale.$scale-16);
	}

	&__color {
		display: flex;
		column-gap: scale.scale(scale.$scale-8);
	}

	&__box {
		width: scale.scale(scale.$scale-32);
		height: scale.scale(scale.$scale-32);
		border-radius: scale.scale(scale.$scale-4);
		outline: scale.scale(scale.$scale-1) solid rgba(black, 0.1);

		//@each $modifier, $shades in colors.get-colors-map() {
		//	@each $shade, $color-value in $shades {
		//		&_#{$modifier}-#{$shade} {
		//			background-color: colors.get-var-color($modifier, $shade);
		//		}
		//	}
		//}
	}
}
