@use "sass:color";
@use "@core/colors";
@use "@utils/functions/size" as *;

.colors {
	margin-bottom: s(24);

	.grid {
		align-items: center;
		display: inline-grid;
		grid-template-columns: repeat(11, auto);
		gap: s(8);
		margin: s(16);
	}

	.box {
		width: s(48);
		height: s(48);
		border-radius: s(8);
		display: flex;
		justify-content: center;
		align-items: center;

		$accent: colors.$green-500;
		$hsl-accent: color.to-space($accent, hsl);
		$oklch-accent: color.to-space($accent, oklch);

		$shades: (50: 50%, 100: 40%, 200: 30%, 300: 20%, 400: 10%, 500: 0%, 600: -10%, 700: -20%, 800: -30%, 900: -40%, 950: -50%);

		@each $shade, $value in $shades {
			&_oklch-#{$shade} {
				$color: color.adjust($oklch-accent, $lightness: $value);
				background-color: $color;
				color: colors.content($color);
			}
			//&_hsl-#{$shade} {
			//	$color: color.adjust($hsl-accent, $lightness: $value);
			//	//@debug color.to-space($color, oklch);
			//	background-color: $color;
			//	color: colors.content($color);
			//}
		}

		&_50 {
			background-color: colors.light-50($accent);
			color: colors.content(colors.light-50($accent));
		}
		&_100 {
			background-color: colors.light-40($accent);
			color: colors.content(colors.light-40($accent));
		}
		&_200 {
			background-color: colors.light-30($accent);
			color: colors.content(colors.light-30($accent));
		}
		&_300 {
			background-color: colors.light-20($accent);
			color: colors.content(colors.light-20($accent));
		}
		&_400 {
			background-color: colors.light-10($accent);
			color: colors.content(colors.light-10($accent));
		}
		&_500 {
			background-color: colors.base($accent);
			color: colors.content(colors.base($accent));
		}
		&_600 {
			background-color: colors.dark-10($accent);
			color: colors.content(colors.dark-10($accent));
		}
		&_700 {
			background-color: colors.dark-20($accent);
			color: colors.content(colors.dark-20($accent));
		}
		&_800 {
			background-color: colors.dark-30($accent);
			color: colors.content(colors.dark-30($accent));
		}
		&_900 {
			background-color: colors.dark-40($accent);
			color: colors.content(colors.dark-40($accent));
		}
		&_950 {
			background-color: colors.dark-50($accent);
			color: colors.content(colors.dark-50($accent));
		}

		&_oklch-50 {
			background-color: color.adjust($hsl-accent, $lightness: 50%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 50%));
		}
		&_hsl-100 {
			background-color: color.adjust($hsl-accent, $lightness: 40%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 40%));
		}
		&_hsl-200 {
			background-color: color.adjust($hsl-accent, $lightness: 30%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 30%));
		}
		&_hsl-300 {
			background-color: color.adjust($hsl-accent, $lightness: 20%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 20%));
		}
		&_hsl-400 {
			background-color: color.adjust($hsl-accent, $lightness: 10%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 10%));
		}
		&_hsl-400 {
			background-color: color.adjust($hsl-accent, $lightness: 10%);
			color: colors.content(color.adjust($hsl-accent, $lightness: 10%));
		}
		&_hsl-500 {
			background-color: $hsl-accent;
			color: colors.content($hsl-accent);
		}
		&_hsl-600 {
			background-color: color.adjust($hsl-accent, $lightness: -10%);
			color: colors.content(color.adjust($hsl-accent, $lightness: -10%));
		}
		&_hsl-700 {
			background-color: color.adjust($hsl-accent, $lightness: -20%);
			color: colors.content(color.adjust($hsl-accent, $lightness: -20%));
		}
		&_hsl-800 {
			background-color: color.adjust($hsl-accent, $lightness: -30%);
			color: colors.content(color.adjust($hsl-accent, $lightness: -30%));
		}
		&_hsl-900 {
			background-color: color.adjust($hsl-accent, $lightness: -40%);
			color: colors.content(color.adjust($hsl-accent, $lightness: -40%));
		}
		&_hsl-950 {
			background-color: color.adjust($hsl-accent, $lightness: -50%);
			color: colors.content(color.adjust($hsl-accent, $lightness: -50%));
		}
	}
}

.color-modules {
	display: flex;
	flex-direction: column;
	gap: s(32);

	&__module {
		display: flex;
		flex-direction: column;
		gap: s(16);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: s(16);
	}

	&__color {
		display: flex;
		column-gap: s(8);
	}

	&__box {
		width: s(32);
		height: s(32);
		border-radius: s(4);
		outline: s(1) solid rgba(black, 0.1);

		//@each $modifier, $shades in colors.get-colors-map() {
		//	@each $shade, $color-value in $shades {
		//		&_#{$modifier}-#{$shade} {
		//			background-color: colors.get-var-color($modifier, $shade);
		//		}
		//	}
		//}
	}
}
