@use "@core/tokens" as token;

.doc {
	&__section {
		margin-bottom: token.scale(64);
	}
}


$liner-gradient: linear-gradient(0deg, token.color-base(token.$grid, .47) 1px, transparent 1px), linear-gradient(90deg, token.color-base(token.$grid, .47) 1px, transparent 1px);

.micromodule {
	max-width: 100%;
	height: token.scale(320);
	position: relative;
	border: token.scale(1) solid token.color-base(token.$grid, .47);
	overflow: hidden;
	border-radius: token.scale(4);

	.box {
		position: absolute;
		width: token.scale(8);
		height: token.scale(8);
		top: token.scale(104);
		left: token.scale(320);

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: token.scale(-320);
			left: token.scale(-320);
			background-image: $liner-gradient;
			background-size: token.scale(8, 8);
			background-position: 0 0;
		}

		&_blue {
			background-color: token.color-base(token.$blue, .8);
		}
		&_green {
			background-color: token.color-base(token.$green, .8);
			width: token.scale(64);
			height: token.scale(32);
		}
		&_red {
			background-color: token.color-base(token.$red, .8);
			width: 68px;
			height: 36px;
		}
	}
}

//.dd {
//	width: token.scale(token.$scale-56);
//	height: token.scale(token.$scale-56);
//	margin-left: token.scale(16);
//	box-shadow:
//		token.color-base(#4868B2, .14) token.scale(0, 1, 2, 0),
//		token.color-base(#666E7D, .1) token.scale(0, 1, 4, 0),
//		token.color-base(#536A9F, .16) token.scale(0, 1, 4, 0);
//}

