@use "@core/tokens" as token;
@use "@core/viewports";
@use "sass:color";

.doc {
	&__section {
		margin-bottom: token.scale(64);
	}
}


$liner-gradient: linear-gradient(0deg, token.color-base(token.$grid, .47) 1px, transparent 1px), linear-gradient(90deg, token.color-base(token.$grid, .47) 1px, transparent 1px);

.micromodule {
	max-width: 100%;
	height: token.scale(320);
	position: relative;
	border: token.scale(1) solid token.color-base(token.$grid, .47);
	overflow: hidden;
	border-radius: token.scale(4);

	.box {
		position: absolute;
		width: token.scale(8);
		height: token.scale(8);
		top: token.scale(104);
		left: token.scale(320);

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: token.scale(-320);
			left: token.scale(-320);
			background-image: $liner-gradient;
			background-size: token.scale(8, 8);
			background-position: 0 0;
		}

		&_blue {
			background-color: token.color-base(token.$blue, .8);
		}
		&_green {
			background-color: token.color-base(token.$green, .8);
			width: token.scale(64);
			height: token.scale(32);
		}
		&_red {
			background-color: token.color-base(token.$red, .8);
			width: 68px;
			height: 36px;
		}
	}
}

.viewport {
	display: flex;
	flex-direction: column;
	gap: token.scale(8);

	&__item {
		display: none;
		padding: token.scale(8, 20);
		background-color: token.color-light-40(token.$gray);
		color: token.color-content(token.color-light-40(token.$gray));
		border: token.scale(1) solid token.color-base(token.$gray, .15);
		border-radius: token.scale(4);
	}

	&_mobile { @include viewports.mobile { display: block; } }
	&_phone { @include viewports.phone { display: block; } }
	&_phone-portrait { @include viewports.phone-portrait { display: block; } }
	&_phone-landscape { @include viewports.phone-landscape { display: block; } }
	&_tablet { @include viewports.tablet { display: block; } }
	&_tablet-portrait { @include viewports.tablet-portrait { display: block; } }
	&_tablet-landscape { @include viewports.tablet-landscape { display: block; } }
	&_desktop { @include viewports.desktop { display: block; }}
	&_laptop { @include viewports.laptop { display: block; } }
	&_wide { @include viewports.wide { display: block; } }
	&_no-phone { @include viewports.no-phone { display: block; } }
}

.colors {
	margin-bottom: token.scale(token.$scale-24);

	.grid {
		align-items: center;
		display: inline-grid;
		grid-template-columns: repeat(11, auto);
		gap: token.scale(token.$scale-8);
		margin: token.scale(token.$scale-24);
	}

	.box {
		width: token.scale(token.$scale-48);
		height: token.scale(token.$scale-48);
		border-radius: token.scale(token.$scale-8);
		display: flex;
		justify-content: center;
		align-items: center;

		$accent: token.$oklch-example;
		$hsl-accent: color.to-space($accent, hsl);
		$oklch-accent: color.to-space($accent, oklch);

		$shades: (50: 50%, 100: 40%, 200: 30%, 300: 20%, 400: 10%, 500: 0%, 600: -10%, 700: -20%, 800: -30%, 900: -40%, 950: -50%);
		@each $shade, $value in $shades {
			&_oklch-accent-#{$shade} {
				$color: color.adjust($oklch-accent, $lightness: $value);
				background-color: $color;
				color: token.color-content($color);
			}
			&_hsl-accent-#{$shade} {
				$color: color.adjust($hsl-accent, $lightness: $value);
				background-color: $color;
				color: token.color-content($color);
			}
		}

		&_accent-50 {
			background-color: token.color-light-50($accent);
			color: token.color-content(token.color-light-50($accent));
		}
		&_accent-100 {
			background-color: token.color-light-40($accent);
			color: token.color-content(token.color-light-40($accent));
		}
		&_accent-200 {
			background-color: token.color-light-30($accent);
			color: token.color-content(token.color-light-30($accent));
		}
		&_accent-300 {
			background-color: token.color-light-20($accent);
			color: token.color-content(token.color-light-20($accent));
		}
		&_accent-400 {
			background-color: token.color-light-10($accent);
			color: token.color-content(token.color-light-10($accent));
		}
		&_accent-500 {
			background-color: token.color-base($accent);
			color: token.color-content(token.color-base($accent));
		}
		&_accent-600 {
			background-color: token.color-dark-10($accent);
			color: token.color-content(token.color-dark-10($accent));
		}
		&_accent-700 {
			background-color: token.color-dark-20($accent);
			color: token.color-content(token.color-dark-20($accent));
		}
		&_accent-800 {
			background-color: token.color-dark-30($accent);
			color: token.color-content(token.color-dark-30($accent));
		}
		&_accent-900 {
			background-color: token.color-dark-40($accent);
			color: token.color-content(token.color-dark-40($accent));
		}
		&_accent-950 {
			background-color: token.color-dark-50($accent);
			color: token.color-content(token.color-dark-50($accent));
		}
	}
}

//.dd {
//	width: token.scale(token.$scale-56);
//	height: token.scale(token.$scale-56);
//	margin-left: token.scale(16);
//	box-shadow:
//		token.color-base(#4868B2, .14) token.scale(0, 1, 2, 0),
//		token.color-base(#666E7D, .1) token.scale(0, 1, 4, 0),
//		token.color-base(#536A9F, .16) token.scale(0, 1, 4, 0);
//}

