@use "@fontsource-variable/geologica";
@use "@core/reset";
@use "@core/viewports";
@use "@core/colors";
@use "@core/rem";
@use "@core/variables";
@use "@utils/functions/size" as *;

@use "@blocks/utils";

.body {
	font-family: "Geologica Variable", sans-serif;
	font-size: s(sm);
	line-height: s(md);
}

.box {
	width: s(base);
	height: s(base);
	background-color: #0036cc;

	@include viewports.tablet {
		width: s(lg);
		height: s(lg);
	}
	@include viewports.laptop {
		width: s(5xl);
		height: s(5xl);
		border: s(1px) solid #000000;
	}
	@include viewports.wide {
		width: s(7xl);
		height: s(7xl);
	}
}

.viewport {
	display: none;
	padding: s(xs) s(md);
	background-color: colors.base(colors.$viewport);
	color: colors.content(colors.$viewport);
	border: s(1px) solid colors.dark(colors.$viewport);
	border-radius: s(4px);

	&_mobile { @include viewports.mobile { display: block; } }
	&_phone { @include viewports.phone { display: block; } }
	&_phone-portrait { @include viewports.phone-portrait { display: block; } }
	&_phone-landscape { @include viewports.phone-landscape { display: block; } }
	&_tablet { @include viewports.tablet { display: block; } }
	&_tablet-portrait { @include viewports.tablet-portrait { display: block; } }
	&_tablet-landscape { @include viewports.tablet-landscape { display: block; } }
	&_desktop { @include viewports.desktop { display: block; }}
	&_laptop { @include viewports.laptop { display: block; } }
	&_wide { @include viewports.wide { display: block; } }
	&_no-phone { @include viewports.no-phone { display: block; } }
}

$spacing: #b2c0ff;
$col: #ff7f81;

.wrapper {
	background-color: $spacing;
	padding: s(0) s(sm);

	@include viewports.phone-landscape {
		padding: s(0) s(sm);
	}
}

.grid {
	background-color: white;
	display: grid;
	max-width: 41rem;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
	gap: s(sm);

	@include viewports.phone-landscape {
		grid-template-columns: repeat(6, 1fr);
		max-width: 92rem;
		gap: s(lg);
	}
	@include viewports.tablet-portrait {
		max-width: 88rem;
	}
	@include viewports.tablet-landscape {
		max-width: 120rem;
	}
	@include viewports.tablet {
		grid-template-columns: repeat(6, 1fr);
		gap: s(xl);
	}
	@include viewports.laptop {
		grid-template-columns: repeat(12, 1fr);
		max-width: 154.75rem;
	}
	@include viewports.wide {
		max-width: 160rem;
		grid-template-columns: repeat(12, 1fr);
	}
	@include viewports.desktop {
		gap: s(xl);
	}

	&__item {
		background-color: $col;
		min-height: s(5xl);

		@include viewports.phone-portrait {
			&:nth-child(n+5) {
				display: none;
			}
		}
		@include viewports.phone-landscape {
			&:nth-child(n+7) {
				display: none;
			}
		}
		@include viewports.tablet-portrait {
			&:nth-child(n+7) {
				display: none;
			}
		}
		@include viewports.tablet-landscape {
			&:nth-child(n+7) {
				display: none;
			}
		}

	}
}

.info {
	font-size: s(lg);
	line-height: s(xl);
}

.hero {
	font-size: s(xl);
	font-weight: 700;
	line-height: s(2xl);
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty;

	@include viewports.no-phone {
		font-size: s(8xl);
		line-height: s(9xl);
	}

	&_px {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		word-wrap: break-word;
		word-break: break-word;
		overflow-wrap: break-word;
		text-wrap: pretty;
	}
}
.supheading {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2rem;
	text-transform: uppercase;
}
.h1 {
	font-size: s(lg);
	font-weight: 700;
	line-height: s(xl);
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty;

	@include viewports.no-phone {
		font-size: s(6xl);
		line-height: s(7xl);
	}
}
.h2 {
	font-size: 5rem;
	font-weight: 700;
	line-height: 6rem;
}
.h3 {
	font-size: 4rem;
	font-weight: 700;
	line-height: 5rem;
}
.h4 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 5rem;
}
.h5 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 4rem;
}
.h6 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
}
.p {
	font-size: 2rem;
	font-weight: 400;
	line-height: 3rem;
}
.hint {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2rem;
}

.debug-grid {
	background-image: linear-gradient(0deg, #0036cc17 1px, transparent 1px), linear-gradient(90deg, #0036cc17 1px, transparent 1px);
	background-size: 1rem 1rem;
	background-position: 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
}
