//@use "@fontsource-variable/geologica";
@use "@fontsource-variable/inter";
@use "@core/preflight";
@use "@core/viewports";
@use "@core/colors";
@use "@core/rem-clamp";
@use "@core/variables";
@use "@utils/functions/size" as *;
@use "@utils/mixins/font" as *;
@use "@utils/classes/margin";
@use "@utils/classes/padding";
@use "@type/classes";
@use "sass:map";

@use "@blocks/utils";


// Стили из самого sandbox
@use "layout/layout";
@use "layout/wrapper";

@use "components/main";
@use "components/sidebar";
@use "components/viewport";
@use "components/highlight";

html, body {
	min-height: 100vh;
}

.body {
	//font-family: "Geologica Variable", sans-serif;
	font-family: "Inter Variable", sans-serif;
	@include font(16, 24, 'regular');
}

$spacing: #b2c0ff;
$col: #ff7f81;

.example-block {
	max-width: 100%;
	height: s(320);
	margin-bottom: s(24);
	position: relative;
	border: s(1) solid #b2c0ff;
	overflow: hidden;
	border-radius: s(4);

	.box_blue {
		background-color: rgb(4 67 248 / 69%);
		width: s(8);
		height: s(8);
		position: absolute;
		top: 13rem;
		left: 40rem;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: -40rem;
			left: -40rem;
			background-image: linear-gradient(0deg, #a1baff78 1px, transparent 1px), linear-gradient(90deg, #a1baff78 1px, transparent 1px);
			background-size: 1rem 1rem;
			background-position: 0 0;
		}
	}
	.box_green {
		background-color: #00dd33b0;
		width: s(64);
		height: s(32);
		position: absolute;
		top: 13rem;
		left: 40rem;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: -40rem;
			left: -40rem;
			background-image: linear-gradient(0deg, #a1baff78 1px, transparent 1px), linear-gradient(90deg, #a1baff78 1px, transparent 1px);
			background-size: 1rem 1rem;
			background-position: 0 0;
		}
	}
	.box_red {
		background-color: #dd0000b0;
		width: 68px;
		height: 36px;
		position: absolute;
		top: 13rem;
		left: 40rem;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: -40rem;
			left: -40rem;
			background-image: linear-gradient(0deg, #a1baff78 1px, transparent 1px), linear-gradient(90deg, #a1baff78 1px, transparent 1px);
			background-size: 1rem 1rem;
			background-position: 0 0;
		}
	}
}

.box {
	width: s(32);
	height: s(32);
	border-radius: s(4);
	outline: s(1) solid rgba(black, 0.1);

	@each $modifier, $shades in colors.get-colors-map() {
		@each $shade, $color-value in $shades {
			&_#{$modifier}-#{$shade} {
				background-color: colors.get-var-color($modifier, $shade);
			}
		}
	}
}
