//@use "@fontsource-variable/geologica";
@use "@fontsource-variable/inter";
@use "@core/preflight";
@use "@core/viewports";
@use "@core/colors";
@use "@core/rem-clamp";
@use "@core/variables";
@use "@utils/functions/size" as *;
@use "@utils/mixins/font" as *;
@use "@utils/classes/margin";
@use "@utils/classes/padding";
@use "@type/classes";

@use "@blocks/utils";


// Стили из самого sandbox
@use "layout/layout";
@use "layout/wrapper";

@use "components/main";
@use "components/sidebar";

html, body {
	min-height: 100vh;
}

.body {
	//font-family: "Geologica Variable", sans-serif;
	font-family: "Inter Variable", sans-serif;
	@include font(16, 24, 'regular');
}

.viewport {
	display: none;
	padding: s(8) s(20);
	background-color: colors.base(colors.$viewport);
	color: colors.content(colors.$viewport);
	border: s(1) solid colors.dark(colors.$viewport);
	border-radius: s(4);

	&_mobile { @include viewports.mobile { display: block; } }
	&_phone { @include viewports.phone { display: block; } }
	&_phone-portrait { @include viewports.phone-portrait { display: block; } }
	&_phone-landscape { @include viewports.phone-landscape { display: block; } }
	&_tablet { @include viewports.tablet { display: block; } }
	&_tablet-portrait { @include viewports.tablet-portrait { display: block; } }
	&_tablet-landscape { @include viewports.tablet-landscape { display: block; } }
	&_desktop { @include viewports.desktop { display: block; }}
	&_laptop { @include viewports.laptop { display: block; } }
	&_wide { @include viewports.wide { display: block; } }
	&_no-phone { @include viewports.no-phone { display: block; } }
}

$spacing: #b2c0ff;
$col: #ff7f81;

.hightlight {
	padding: s(16, 20);
	border-radius: s(4);

	&_warning {
		background-color: rgb(254, 254, 231);
	}

	&_succses {
		background-color: rgb(236, 249, 238);
	}
	&_danger {
		background-color: rgb(252, 232, 232);
	}
}

.example-block {
	max-width: 100%;
	height: s(320);
	margin-bottom: s(24);
	position: relative;
	border: s(1) solid #b2c0ff;
	overflow: hidden;

	.box_green {
		background-color: #00dd33b0;
		width: s(64);
		height: s(32);
		position: absolute;
		top: 13rem;
		left: 40rem;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: -40rem;
			left: -40rem;
			background-image: linear-gradient(0deg, #a1baff78 1px, transparent 1px), linear-gradient(90deg, #a1baff78 1px, transparent 1px);
			background-size: 1rem 1rem;
			background-position: 0 0;
		}
	}
	.box_red {
		background-color: #dd0000b0;
		width: 68px;
		height: 36px;
		position: absolute;
		top: 13rem;
		left: 40rem;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 300vw;
			top: -40rem;
			left: -40rem;
			background-image: linear-gradient(0deg, #a1baff78 1px, transparent 1px), linear-gradient(90deg, #a1baff78 1px, transparent 1px);
			background-size: 1rem 1rem;
			background-position: 0 0;
		}
	}
}

.grid {
	background-color: white;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
	gap: s(16);

	@include viewports.phone-landscape {
		grid-template-columns: repeat(6, 1fr);
		gap: s(24);
	}
	@include viewports.tablet {
		grid-template-columns: repeat(6, 1fr);
		gap: s(32);
	}
	@include viewports.laptop {
		grid-template-columns: repeat(12, 1fr);
	}
	@include viewports.wide {
		grid-template-columns: repeat(12, 1fr);
		//max-width: 160rem;
	}
	@include viewports.desktop {
		gap: s(32);
	}

	&__item {
		background-color: $col;
		min-height: s(64);

		@include viewports.phone-portrait {
			&:nth-child(n+5) {
				display: none;
			}
		}
		@include viewports.phone-landscape {
			&:nth-child(n+7) {
				display: none;
			}
		}
		@include viewports.tablet-portrait {
			&:nth-child(n+7) {
				display: none;
			}
		}
		@include viewports.tablet-landscape {
			&:nth-child(n+7) {
				display: none;
			}
		}

	}
}

.debug-grid {
	background-image: linear-gradient(0deg, #0036cc17 1px, transparent 1px), linear-gradient(90deg, #0036cc17 1px, transparent 1px);
	background-size: 1rem 1rem;
	background-position: 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
}
