@use "@core/colors" as colors;
@use "@core/scale" as scale;

.layout {
	display: grid;
	grid-template-columns: scale.scale(240) minmax(auto, scale.scale(800));
	gap: scale.scale(scale.$scale-4);
	background-color: colors.base(colors.$grey);
	padding: scale.scale(scale.$scale-4);
	min-height: 100vh;
}
