@use "@core/tokens" as token;

$pattern-fg: token.color-dark-50(token.$gray, .05);

.layout {
	display: grid;
	grid-template-columns: token.scale(240) minmax(auto, token.scale(800));
	gap: token.scale(token.$scale-24);
	background-position: 0 0;
	background-size: token.scale(8, 8);
	background-image:
		repeating-linear-gradient(315deg, $pattern-fg 0,
		$pattern-fg token.scale(1), transparent 0, transparent 50%);
	min-height: 100vh;
}
