/*
 * Базовый значения величин для отступов padding/margin и типографики
 */
$scale--104:-13rem;  	// -104px
$scale--96: -12rem;   	// -96px
$scale--88: -11rem;   	// -88px
$scale--80: -10rem;   	// -80px
$scale--72: -9rem;    	// -72px
$scale--64: -8rem;    	// -64px
$scale--56: -7rem;    	// -56px
$scale--48: -6rem;   	// -48px
$scale--40: -5rem;    	// -40px
$scale--32: -4rem;     	// -32px
$scale--24: -3rem;     	// -24px
$scale--20: -2.5rem;   	// -20px
$scale--16: -2rem;     	// -16px
$scale--12: -1.5rem;   	// -12px
$scale--8: 	-1rem;   	// -8px
$scale--4: 	-0.5rem;  	// -4px
$scale--2: 	-0.25rem; 	// -2px
$scale--1: 	-0.125rem;	// -1px
$scale-0: 	0;      	// 0px
$scale-1: 	0.125rem;	// 1px
$scale-2: 	0.25rem; 	// 2px
$scale-4: 	0.5rem;  	// 4px
$scale-8: 	1rem;   	// 8px
$scale-12: 	1.5rem;   	// 12px
$scale-16: 	2rem;     	// 16px
$scale-20: 	2.5rem;   	// 20px
$scale-24: 	3rem;     	// 24px
$scale-32: 	4rem;     	// 32px
$scale-40: 	5rem;    	// 40px
$scale-48: 	6rem;   	// 48px
$scale-56: 	7rem;    	// 56px
$scale-64: 	8rem;    	// 64px
$scale-72: 	9rem;    	// 72px
$scale-80: 	10rem;   	// 80px
$scale-88: 	11rem;   	// 88px
$scale-96: 	12rem;   	// 96px
$scale-104: 13rem;  	// 104px
$scale-240: 30rem;   	// 240px
$scale-320: 40rem;   	// 320px
$scale-800: 100rem;   	// 800px
