@use "@core/tokens" as token;

.code {
	font-family: token.$monospace-font;
	position: relative;
	color: token.color-base(token.$content-dark);
	font-weight: token.weight(token.$weight-medium);
	padding: token.scale(0, 12);

	&:before, &:after {
		content: "`";
		display: inline;
		position: absolute;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

	&_block {
		padding: token.scale(24);
		border-radius: token.scale(12);
		margin-right: 0;
		display: flex;
		flex-direction: column;
		white-space: pre;
		background-color: token.color-dark-50(token.$gray);
		outline: token.scale(1) solid token.color-dark-20(token.$gray);
		color: token.color-light-50(token.$slate);

		&:before, &:after {
			display: none;
		}
	}
}
