@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "sass:string";
@use "sass:meta";
@use "@core/palette" as palette;
@use "@core/colors" as colors;
@use "@utils/mixins/font" as *;

$red-950: map.get(palette.$red, 950);
$red-100: map.get(palette.$red, 100);
$red-100-50: color.change($red-100, $alpha: 0.5);
$red-950-50: color.change($red-950, $alpha: 0.5);
$oklch-red-950: colors.hex-to-oklch($red-950);
$oklch-red-950-50: colors.rgba-to-oklch($red-950-50);
$oklch-red-100-50: colors.rgba-to-oklch($red-100-50);

@debug $oklch-red-950;
@debug $oklch-red-950-50;

.pfpf {
	background-color: $oklch-red-950;
	color: $oklch-red-100-50;
	width: 100%;
	height: 20rem;
	@include  font(32, 40, 'bold');
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.box {
	position: relative;
	height: 25rem;

	&:before {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: pre;
	}

	@each $key, $value in palette.$red {
		&_red-#{$key} {
			background-color: $value;

			&:before {
				content: 'red-#{$key} \A #{$value} \A #{colors.hex-to-oklch($value)}';
			}
		}
	}
}
