@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "sass:string";
@use "sass:meta";
@use "@utils/mixins/font" as *;
@use "@core/colors" as colors;
@use "@functions/size" as *;

.grid {
	align-items: center;
	display: inline-grid;
	grid-template-columns: repeat(11, auto);
	gap: s(16);
	margin: s(16);
}

.box {
	width: s(48);
	height: s(48);
	border-radius: s(8);
	display: flex;
	justify-content: center;
	align-items: center;

	$accent: colors.$green-500;
	$hsl-accent: color.to-space($accent, hsl);
	$oklch-accent: color.to-space($accent, oklch);

	&_50 {
		background-color: colors.light-50($accent);
		color: colors.content(colors.light-50($accent));
	}
	&_100 {
		background-color: colors.light-40($accent);
		color: colors.content(colors.light-40($accent));
	}
	&_200 {
		background-color: colors.light-30($accent);
		color: colors.content(colors.light-30($accent));
	}
	&_300 {
		background-color: colors.light-20($accent);
		color: colors.content(colors.light-20($accent));
	}
	&_400 {
		background-color: colors.light-10($accent);
		color: colors.content(colors.light-10($accent));
	}
	&_500 {
		background-color: colors.base($accent);
		color: colors.content(colors.base($accent));
	}
	&_600 {
		background-color: colors.dark-10($accent);
		color: colors.content(colors.dark-10($accent));
	}
	&_700 {
		background-color: colors.dark-20($accent);
		color: colors.content(colors.dark-20($accent));
	}
	&_800 {
		background-color: colors.dark-30($accent);
		color: colors.content(colors.dark-30($accent));
	}
	&_900 {
		background-color: colors.dark-40($accent);
		color: colors.content(colors.dark-40($accent));
	}
	&_950 {
		background-color: colors.dark-50($accent);
		color: colors.content(colors.dark-50($accent));
	}
	&_oklch-50 {
		background-color: color.adjust($oklch-accent, $lightness: 50%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 50%));
	}
	&_oklch-100 {
		background-color: color.adjust($oklch-accent, $lightness: 40%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 40%));
	}
	&_oklch-200 {
		background-color: color.adjust($oklch-accent, $lightness: 30%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 30%));
	}
	&_oklch-300 {
		background-color: color.adjust($oklch-accent, $lightness: 20%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 20%));
	}
	&_oklch-400 {
		background-color: color.adjust($oklch-accent, $lightness: 10%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 10%));
	}
	&_oklch-400 {
		background-color: color.adjust($oklch-accent, $lightness: 10%);
		color: colors.content(color.adjust($oklch-accent, $lightness: 10%));
	}
	&_oklch-500 {
		background-color: $oklch-accent;
		color: colors.content($oklch-accent);
	}
	&_oklch-600 {
		background-color: color.adjust($oklch-accent, $lightness: -10%);
		color: colors.content(color.adjust($oklch-accent, $lightness: -10%));
	}
	&_oklch-700 {
		background-color: color.adjust($oklch-accent, $lightness: -20%);
		color: colors.content(color.adjust($oklch-accent, $lightness: -20%));
	}
	&_oklch-800 {
		background-color: color.adjust($oklch-accent, $lightness: -30%);
		color: colors.content(color.adjust($oklch-accent, $lightness: -30%));
	}
	&_oklch-900 {
		background-color: color.adjust($oklch-accent, $lightness: -40%);
		color: colors.content(color.adjust($oklch-accent, $lightness: -40%));
	}
	&_oklch-950 {
		background-color: color.adjust($oklch-accent, $lightness: -50%);
		color: colors.content(color.adjust($oklch-accent, $lightness: -50%));
	}

	&_oklch-50 {
		background-color: color.adjust($hsl-accent, $lightness: 50%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 50%));
	}
	&_hsl-100 {
		background-color: color.adjust($hsl-accent, $lightness: 40%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 40%));
	}
	&_hsl-200 {
		background-color: color.adjust($hsl-accent, $lightness: 30%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 30%));
	}
	&_hsl-300 {
		background-color: color.adjust($hsl-accent, $lightness: 20%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 20%));
	}
	&_hsl-400 {
		background-color: color.adjust($hsl-accent, $lightness: 10%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 10%));
	}
	&_hsl-400 {
		background-color: color.adjust($hsl-accent, $lightness: 10%);
		color: colors.content(color.adjust($hsl-accent, $lightness: 10%));
	}
	&_hsl-500 {
		background-color: $hsl-accent;
		color: colors.content($hsl-accent);
	}
	&_hsl-600 {
		background-color: color.adjust($hsl-accent, $lightness: -10%);
		color: colors.content(color.adjust($hsl-accent, $lightness: -10%));
	}
	&_hsl-700 {
		background-color: color.adjust($hsl-accent, $lightness: -20%);
		color: colors.content(color.adjust($hsl-accent, $lightness: -20%));
	}
	&_hsl-800 {
		background-color: color.adjust($hsl-accent, $lightness: -30%);
		color: colors.content(color.adjust($hsl-accent, $lightness: -30%));
	}
	&_hsl-900 {
		background-color: color.adjust($hsl-accent, $lightness: -40%);
		color: colors.content(color.adjust($hsl-accent, $lightness: -40%));
	}
	&_hsl-950 {
		background-color: color.adjust($hsl-accent, $lightness: -50%);
		color: colors.content(color.adjust($hsl-accent, $lightness: -50%));
	}
}
