@use "@core/tokens" as token;

.figure {
	background-color: token.color-dark-50(token.$gray, .05);
	border-radius: token.scale(12);
	display: flex;
	flex-direction: column;
	gap: token.scale(4);
	box-shadow: inset 0 0 token.scale(2) token.color-dark-50(token.$gray, .2);

	&__content {
		background-color: token.color-base(token.$content-light);
		border-radius: token.scale(12, 12, 8, 8);
		padding: token.scale(32);
		margin: token.scale(4, 4, 0, 4);
	}

	&__code {
		padding: token.scale(4);
		border-radius: token.scale(12);
		margin-right: 0;
		display: flex;
		flex-direction: column;
		white-space: pre;
		background-color: token.color-dark-50(token.$gray);
		overflow-y: auto;
	}

	.line {
		display: flex;
		text-wrap-mode: nowrap;
		white-space-collapse: preserve;

		.color-slate-10 {
			color: token.color-light-10(token.$gray);
		}
		.color-slate-20 {
			color: token.color-light-20(token.$slate);
		}
		.color-slate-50 {
			color: token.color-light-50(token.$slate);
		}
		.color-pink-10 {
			color: token.color-light-10(token.$pink);
		}
		.color-sky-20 {
			color: token.color-light-20(token.$sky);
		}
		.color-green-10 {
			color: token.color-light-10(token.$green);
		}
		.color-orange-10 {
			color: token.color-light-10(token.$orange);
		}
		.color-yellow-10 {
			color: token.color-light-10(token.$yellow);
		}
	}
}
