@use "@core/tokens" as token;

.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: token.scale(8);
	border-left: token.scale(1) solid token.color-light-20(token.$gray);

	&__item {
		position: relative;
	}
}
