@use "@core/viewports";
@use "@utils/functions/size" as *;
@use "@core/colors";


.viewport {
	display: flex;
	flex-direction: column;
	gap: s(8);

	&__item {
		display: none;
		padding: s(8) s(20);
		//background-color: colors.var-base(colors.$grey);
		//color: colors.var-content(colors.$grey);
		//border: s(1) solid colors.var-dark(colors.$grey);
		border-radius: s(4);
	}

	&_mobile { @include viewports.mobile { display: block; } }
	&_phone { @include viewports.phone { display: block; } }
	&_phone-portrait { @include viewports.phone-portrait { display: block; } }
	&_phone-landscape { @include viewports.phone-landscape { display: block; } }
	&_tablet { @include viewports.tablet { display: block; } }
	&_tablet-portrait { @include viewports.tablet-portrait { display: block; } }
	&_tablet-landscape { @include viewports.tablet-landscape { display: block; } }
	&_desktop { @include viewports.desktop { display: block; }}
	&_laptop { @include viewports.laptop { display: block; } }
	&_wide { @include viewports.wide { display: block; } }
	&_no-phone { @include viewports.no-phone { display: block; } }
}
